.custom-input {
    border-radius: 15px;
    border: 1px #0c8af8 solid;
    padding: 4px 12px;
    background-color: white;
    height: 22px;
    box-shadow: 0 0 2px #3fb724;
  }
  
  .custom-input:focus {
    outline: none;
    border: 1px solid #9e631f;
    box-shadow: 0 0 10px 2px #0074d9;
    padding: 5px;
  }
  .custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
  background-color: rgb(255, 255, 255);

}

.rmdp-container .custom-calendar.ep-arrow[direction="bottom"] {
  border-top: 1px solid rgb(255, 255, 255);
  
}

.rmdp-container .custom-calendar.ep-arrow[direction="top"] {
  border-bottom: 1px solid rgb(255, 255, 255);
 
  color: red;
}